<div>
    <div class="popover-content tour-step-content" ng-bind-html="tourStep.trustedContent"></div>
    <div class="popover-navigation tour-step-navigation">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" ng-if="tourStep.isPrev()" ng-click="tour.prev()">&laquo; 이전</button>
            <button class="btn btn-sm btn-default" ng-if="tourStep.isNext()" ng-click="tour.next()">다음 &raquo;</button>
            </button>
        </div>
        <button class="btn btn-sm btn-default" data-role="end" ng-click="tour.end()">닫기</button>
    </div>
</div>
